* { box-sizing: border-box}
html, body {height: 100%; width: 100%}
a, a:hover, button{cursor: auto; outline: 0;}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.hide {display: none !important;}
.show {display: block;}
body {
    background-color: rgb(0,121,191);
    padding: 0; margin: 0;
    font-family: 'Josefine Sans', sans-serif;
    color: #4d4d4d;
    font-size: 14px;
}
header {
    background-color: rgba(0,0,0,.15);
    padding: 5px;
    height: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.board {
    overflow: auto;
    padding: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}
.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list {
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}
.list-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    min-height: 18px;
    font-weight: bold;
    /*padding-right: 34px;*/
}
.list-cards {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}
.card {
    position: relative;
    padding: 6px 25px 7px 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}
.card:hover {
    border-bottom-color: #D6DADC;
    opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.card p { margin: 0;}
.card-details {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
}
.card .delete {
    position: absolute;
    right: 5px;
    top: 5px
}
.add-card {
    border-radius: 0 0 3px 3px;
    color: #8c8c8c;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.add-card:hover {
    background-color: #CDD2D4;
    color: #4d4d4d;
    text-decoration: underline;
}
/*add list form*/
.list-wrapper:last-child {
    margin-right: 10px;
}
.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.list-wrapper > .add-list {
    border-radius: 3px;
    background: rgba(0,0,0,.12);
    cursor: pointer;
    color: rgba(255,255,255,.7);
    -webkit-transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
}
.add-list .add-card:hover {
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255,.7);
    text-decoration: none;
}
.add-list .add-card ~ .add-card.show {
    background: #E2E4E6;
    color: #8c8c8c;
    text-decoration: none;
}

button {
    background: #61BD4F;
    box-shadow: 0 1px 0 #3F6F21;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 8px 4px 5px;
    padding: 4px 20px;
    text-align: center;
    min-height: 24px;
    height: 24px;
    border-radius:3px;
}

/*addCard*/
.add-card textarea, .add-list textarea {
    background: 0 0;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    background-color: #fff;
}
.delete {
    float: right;
}




/* dragula-specific example page styles */

.wrapper {
  display: table;
}
.container {
  display: block;
  width: 100%;
  padding: 10px;
}
.container div,
.gu-mirror {
  padding: 10px;
  transition: opacity 0.4s ease-in-out;
}
.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  margin-bottom: 10px;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -ms-transform: rotate(6deg); 
  -webkit-transform: rotate(6deg); 
  transform: rotate(6deg);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.gu-transit .list {
    background-color: rgba(0,0,0,.5);
    color:transparent;
}
.gu-transit .add-card {
    color:transparent;
}


